*,*::after,*::before{ 
    box-sizing: border-box; 
} /* selecting everything and making it border box */

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*0.9);
} /* making css variables to use it in my code*/

body{
    margin: 0px;
} /* making the margin of the body 0 pixels*/

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
} /* this is only the code of the div named board */

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
} /*creaing every cell with css variables*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: transparent;
} /* clearing the top border of top 3 cells*/

.cell:nth-child(3n+1){
    border-left: transparent;
} /* clearing left border of cells*/

.cell:nth-child(3n+3){
    border-right: transparent;
} /* clearing right border of cells*/

.cell:last-child,
.cell:nth-last-child(2),
.cell:nth-last-child(3){
    border-bottom: transparent;
} /* clearing bottom 3 borders here*/

.cell.x,
.cell.o{
    cursor: not-allowed;
} /* making not allowed cursor over already placed symbols*/


.cell.x{
    background-image: url("media/covid.png");
}

.cell.o{
    background-image: url("media/vaccine.png");
}

.board.x .cell:not(.x):not(.o):hover{
    background-image: url("media/covid.png");
    opacity: 0.5;
} /*giving x hover effect of covid*/

.board.o .cell:not(.x):not(.o):hover{
    background-image: url("media/vaccine.png");
    opacity: 0.5;
}  /*giving o hover effect of vaccine*/

.winningMessage{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
} /* making the winning screen*/

#restartButton{
    font-size: 26px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25%;
    padding: 5px;
    cursor: pointer;
} /* making and designing restart button*/

#restartButton:hover{
    background-color: black;
    border-color: white;
    color: white;
} /* giving border a hover effect*/

.winningMessage.show{
    display: flex;
}

.board.red{
    background-color: rgb(253, 77, 77);
}/* giving board a colour red */


.board.green{
    background-color: rgb(82, 252, 82);
}/* giving board a colour green when it is vaccines turn*/

.heading{
    background-color: black;
    color: white;
    text-align: center;
}

.message.red{
    background-color: rgb(253, 77, 77);
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 25px;
    left: 25px;
} /*giving whose turn message*/
.message.green{
    background-color: rgb(82, 252, 82);
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 25px;
    right: 25px;
}